<div class="full-width text-center">
  <h5 class="display-3">Here is film information about: {{Title}}!</h1>
  <img src="{{Poster}}" alt="film poster" />
  <br>
  <p><b>Date of release: </b>{{Released}}</p>
  <p><b>Runtime: </b>{{Runtime}}</p>
  <p><b>Genre: </b>{{Genre}}</p>
  <p><b>Director(s): </b>{{Director}}</p>
  <p><b>Actors: </b>{{Actors}}</p>
  <p><b>Plot: </b>{{Plot}}</p>
  <p><b>Language: </b>{{Language}}</p>
  <p><b>IMDB rating: </b>{{imdbRating}}</p>
  <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">Search again</a>
  </p>
</div>