<div class="full-width text-center">
  <h5 class="display-3">Here is film information about: {{Title}}!</h1>
  <img src="{{Poster}}" alt="film poster" />
  <p>Year of release: {{Year}}</p>
  <p>Date of release: {{Released}}</p>
  <p>Runtime: {{Runtime}}</p>
  <p>Genre: {{Genre}}</p>
  <p>Director(s): {{Director}}</p>
  <p>Actors: {{Actors}}</p>
  <p>Plot: {{Plot}}</p>
  <p>Language: {{Language}}</p>
  <p>IMDB rating: {{imdbRating}}</p>

  <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">Search again</a>
  </p>
</div>